.background {
    position: absolute; 
    z-index: 2;
    height: 350px; 
    width: 70%; 
    background-color: rgba(52,47,49,.90);
    @media screen and (max-width: 900px) {
        height: 500px;
    }
}

.headerContent {
    display: flex;
    width: 100%; 
    justify-content: space-around; 
    padding: 20px;
    @media screen and (max-width: 900px) {
        flex-direction: column;
        img {
            width:  120px;
        }
    }
}