.background {
    position: absolute; 
    z-index: 2;
    height: 350px; 
    width: 70%; 
    background-color: rgba(52,47,49,.90);
    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

.headerContent {
    display: flex;
    width: 100%; 
    justify-content: space-around; 
    padding: 20px;
    @media screen and (max-width: 900px) {
        flex-direction: column;
        img {
            width:  120px;
        }
    }
}
.imgContent {
    display: flex;
    justify-content: center;
    h2 {
        font-size: 50px !important;
    }
    .imgLayout {
        z-index: 1;
        width: 70%; 
        height: 350px;
        @media screen and (max-width: 900px) {
            width: 100%; 
    
        }
    }
}

.contentLayout {
    display: flex; 
    width: 70%; 
    height: 100%; 
    margin-bottom: 25px;
    @media screen and (max-width: 900px) {
        flex-direction: column;
        width: 100%;
    }
    .textContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        // text-align: center;
        @media screen and (max-width: 900px) {
            text-align: center;
            width: 100%;
            padding: 30px;
        }
    }
    .imageContent {
        background-color: lightgray;
        width: 50%;
        margin-left: 2%;
        @media screen and (max-width: 900px) {
            width: 100%;
            margin: 0px;
        }
    }
}